ci/credentials/*
/tmp
.vscode
terraform.combined.log
control-tower-*.yml
control-tower-*.pem
control-tower-*.json
.idea
/control-tower
bindata.go
.vs/
.pre-commit-config.yaml
opsassets/assets/
.terraform/
.envrc